h3.survey-title {
  margin-left: 15px;
}

div.nested-fields {
  margin-bottom: 20px;
}

button.btn.btn-info.btn-md {
  margin-bottom: 35px;
  a {
    color: white;
    text-decoration: none;
  }
}

h5.add-question {
  margin-bottom: 20px;
}
